.marquee {
  animation: marquee 10s linear infinite;
  width: 100%;
  display: inline-flex;
  gap: 3rem;
}

.marquee img {
  width: 3rem;
  height: 3rem;
  transition: transform 0.3s ease;
}

/* .marquee:hover {
  animation-play-state: paused;
} */

.item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.item label {
  margin-left: 0.5rem;
}

.item:hover {
  transform: scale(1.2);
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Media Query for mobile devices */
@media (max-width: 928px) {
  .marquee {
    animation: marquee 10s linear infinite; /* Slower animation for better readability */
    gap: 2rem; /* Reduce gap between images */
  }

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-420%);
    }
  }
}
