.navigation {
  background-color: #16161c;
  display: flex;
  color: white;
  position: fixed;
  width: 100%;
  font-size: 13px;
  opacity: 90%;

  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: white;
}

.navigation a:hover {
  color: #2d2e34;
}

.navigation button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navigation button:hover {
  color: #2d2e34;
}

.logo {
  margin-left: 15%;
  margin-right: 30px;
  padding: 0px;
  padding-top: 6px;
  font-weight: 800;
}

.logo a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.resume {
  cursor: pointer;
  text-decoration: none;
  color: white;

  position: absolute;
  padding: 0px;
  padding-top: 6px;
  right: 15%;
}

.menu {
  padding: 5px;
  padding-bottom: 7px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navigation {
    font-size: 90%;
  }

  .logo {
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 800;
  }

  .resume {
    right: 5%;
  }
}
