html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

* {
  box-sizing: border-box; /* Ensures padding and borders don't cause overflow */
}

.App {
  color: white;
  margin: 0 auto; /* Center the app without extra margins */
  max-width: 100%; /* Ensure app doesn't overflow */
  padding-left: 8%; /* Use padding instead of margin for responsive spacing */
  padding-right: 8%;
}

.icon {
  width: 50px;
  height: auto;
  filter: brightness(0) invert(1);
}

ul {
  padding: 0;
  list-style-type: none;
}

footer {
  font-family: "Courier";
  font-size: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.scrollTo {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
  font-size: 13px;
  padding-bottom: 15px;
}

.scrollTo:hover {
  color: #2d2e34;
}

header {
  margin: 0;
  padding: 0;
}

.greeting {
  color: white;
  font-family: "Mont light";
  text-align: center;
  font-size: 5vw;
  padding: 11%;
  padding-top: 12%;
  padding-bottom: 13%;
}

.greeting h1 {
  font-size: 5.5rem;
  display: inline;
  font-family: "Mont";
}

.greeting h3 {
  font-size: 0.9rem;
  font-family: "Mont light";
}

.greeting p {
  margin: 0;
  font-size: 5rem;
}

.greeting-scrolldown {
  text-align: left;
  padding-left: 1%;
  margin: 0;
}

.content {
  border: 0;
  border-left: 1px solid white;
  padding-left: 15px;
  margin-left: 15px;
}

.highlight {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  font-family: "Mont light";
  line-height: 17px;
}

.about,
.projects,
.work-history,
.education,
.additional-skills,
.contact {
  font-family: "Courier";
  font-size: 14px;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-left: 25%;
  margin-right: 25%;
}

.work-history,
.education,
.additional-skills {
  padding-top: 12%;
}

.about {
  text-align: justify;
  font-size: 13px;
  line-height: 25px;
  padding-top: 15%;
  padding-bottom: 15%;
}

.education {
  margin-right: 20%;
}

.contact {
  padding-top: 12%;
  padding-bottom: 13%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.contact-header {
  text-align: center;
  font-family: "Mont light";
  color: white;
  font-size: 5vw;
  margin: 0;
  padding-bottom: 25px;
}

.contact button {
  text-align: center;
  font-family: "Courier";
  font-size: 100%;
  background: none;
  cursor: pointer;
  color: white;
  padding: 2%;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  margin-top: 45px;
}

.contact button:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.projects {
  text-align: left;
  padding-top: 15%;
  padding-bottom: 20%;
  margin: 0;
}

.projects-viewer {
  display: flex;
}

.projects-list {
  margin-right: 5%;
  display: grid;
}

.projects-list li {
  border: 1px solid white;
  padding: 7px 10px;
  cursor: pointer;
  margin: 10px 10px 0 0;
}

.projects-list .li--active {
  background-color: white;
  color: black;
}

.projects-list li:hover {
  background: #2d2e34;
  color: white;
}

.project-preview {
  display: flex;
}

.project-preview span {
  margin: 10px;
}

.project-navigator {
  display: inline-flex;
  align-items: center;
}

.project-navigator button {
  font-family: "Courier";
  background: none;
  cursor: pointer;
  color: white;
  padding: 12px 15px;
  border: 1px solid white;
  border-radius: 100%;
  margin: 0;
  
}

.project-navigator button:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.project-navigator img {
  width: 600px;
  height: 280px;
  object-fit: contain;
  border: 1.2px solid white;
}

.project-description {
  margin-left: 10px;
  text-align: left;
  line-height: 17px;
}

.project-description h2 {
  text-align: center;
}

/* Mobile responsiveness */
@media only screen and (max-width: 768px) {
  .App {
    margin-left: 5%;
    margin-right: 5%;
  }

  footer {
    font-size: 9px;
    padding-bottom: 10px;
  }

  .greeting {
    padding-top: 70%;
    padding-bottom: 50%;
  }

  .greeting h1 {
    font-size: 10vw;
  }

  .greeting h3 {
    font-size: 3.5vw;
  }

  .greeting p {
    font-size: 9vw;
  }

  .about,
  .work-history,
  .education,
  .additional-skills {
    margin: 0;
    padding-top: 20%;
    padding-bottom: 10%;
  }

  .projects { 
    padding-top: 50%;
    padding-bottom: 60%;
  }

  .projects-list {
    display: none;
  }

  .project-preview {
    display: block;
    padding-top: 15%;
  }

  .project-navigator img {
    width: 100%;
    height: auto;
    
  }

  .project-description {
    text-align: center;
    font-size: 90%;
  }

  .contact {
    margin: 0;
    padding-top: 40%;
    padding-bottom: 20%;
  }

  .contact-header {
    font-size: 12vw;
  }

  .contact button {
    padding: 10px;
  }
}
