* {
  /* border: 0.01rem solid #333; */
  font-family: Helvetica;
  user-select: none;
  background-color: transparent;
}

:root {
  --border-width: 0.1rem;
  --border-color: rgb(0, 0, 0);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #efebe8;
  color: black;
}

h1,
h2,
h3,
p {
  transition: transform 0.5s ease;
}

h1:hover,
h2:hover,
h3:hover,
p:hover {
  transform: scale(1.1);
}

h3 {
  font-family: "Mont";
  font-size: 2.5rem;
}

p {
  line-height: 1.5rem;
}

.header {
  grid-area: greeting;
}

footer {
  grid-area: footer;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
}

.icon {
  width: 4rem;
  height: 4rem;
  filter: brightness(0) invert(1);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "greeting greeting"
    "greeting greeting"
    "about about"
    "tech tech"
    "projects projects"
    "contact contact"
    "footer footer";
  padding-left: 12rem;
  padding-right: 12rem;
  margin-top: 2rem;
}

.about {
  grid-area: about;
  grid-column: 1 / -1; /* Span the entire row */
  display: grid;
  grid-template-columns: 1fr; /* Project panels span single-column */
}

.knowntech {
  grid-area: tech;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  border-top: var(--border-width) solid var(--border-color);
  white-space: nowrap;
  overflow: hidden;
}

.projects {
  grid-area: projects;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
}

.contact {
  grid-area: contact;
  grid-column: 1 / -1; /* Span the entire row */
  display: grid;
  grid-template-columns: 1fr; /* Project panels span single-column */
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.8s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Media Query for mobile devices */
@media (max-width: 928px) {
  .app {
    grid-template-columns: 1fr;
    margin-top: 3rem;
    padding-left: 1rem; /* Reduce padding */
    padding-right: 1rem; /* Reduce padding */
  }

  .greeting {
    padding: 1rem; /* Reduce padding */
    height: auto; /* Allow height to adjust */
  }

  .greeting h1 {
    font-size: 4rem; /* Smaller font size for mobile */
  }

  .greeting h2 {
    font-size: 3rem; /* Smaller font size for mobile */
  }

  .greeting p {
    font-size: 0.875rem; /* Smaller font size for mobile */
  }

  .subheader {
    grid-template-columns: 1fr 1fr; /* Stack columns vertically */
    grid-template-areas:
      "first second"
      "third third";

    margin-top: 1rem; /* Reduce top margin */
  }

  .first,
  .second,
  .third {
    padding: 0.5rem; /* Reduce padding */
    text-align: center; /* Center text for better readability */
  }

  .knowntech {
    padding: 1rem; /* Reduce padding */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
  }

  .projects {
    grid-template-columns: 1fr; /* Ensure single-column layout */
  }

  footer {
    padding: 1rem; /* Add padding for better touch targets */
  }
}
